:host {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}

.container {
    align-items: center;
    background-color: var(--flux-pwa-confirm-background-color);
    bottom: 0;
    color: var(--flux-pwa-confirm-foreground-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}

.info {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 10px;
    margin-left: 10px;
    width: 300px;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--flux-pwa-confirm-button-background-color);
    border: none;
    border-radius: 0;
    color: var(--flux-pwa-confirm-button-foreground-color);
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
}

button:not(:disabled):hover,
button:not(:disabled):active {
    background-color: var(--flux-pwa-confirm-active-button-background-color);
    color: var(--flux-pwa-confirm-active-button-foreground-color);
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .buttons {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
}

@media print {
    :host {
        display: none;
    }
}
